{% extends 'base.html' %} {% block title %} Welcome to SITCOE Cafeteria {%
endblock %} {% block content %}

<style>
  /* Mobile styles */
  @media only screen and (max-width: 768px) {
    ._2Zn3W {
      margin: 20px;
      text-align: center;
    }

    ._12i5X {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  /* Tablet and desktop styles */
  @media only screen and (min-width: 769px) {
    ._2RZDN {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 80px;
    }

    ._2Zn3W {
      flex-basis: calc(33.33% - 40px);
      margin: 0;
      text-align: center;
    }

    ._12i5X {
      font-size: 16px;
      line-height: 1.6;
    }

  }
</style>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 img-fluid" style="
    color: rgb(255, 255, 255);
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  ">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">
      <b> Sharad Institute of technology Cafeteria</b>
    </h1>
    <p class="lead font-weight-normal" style="font-weight: bolder">
      Start Order Food by clicking the link below
    </p>
    <a class="btn btn-primary" href="{{ url_for('Menu_page') }}">Get Started</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="_2tnu-" style="background-color: #2b1e16;">
  <div class="_2RZDN">
    <div class="_2Zn3W">
      <div class="_1Vw_y">

        <img class="_2dYjq" width="105" height="199"
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf" />
      </div>
      <div class="_3fted" style="color: #fff;"> Fast Order </div>
      <div class="_12i5X" style="color: #fff;">
        Simplified User Interface, Easy to order, Save's your Time
      </div>
    </div>
    <div class="_2Zn3W" style="color: #fff;
    text-align: center;">
      <div class="_1Vw_y">
        <img class="_2dYjq" width="112" height="206"
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy" />
      </div>
      <div class="_3fted" style="color: #fff;"> Order from anywhere </div>
      <div class="_12i5X" style="color: #fff;">
        No need to order from Canteen You can order from your campus also
      </div>
    </div>
    <div class="_2Zn3W">
      <div class="_1Vw_y">
        <br>
        <br>
        <img class="_2dYjq" width="124" height="124"
          src="https://th.bing.com/th/id/OIP.jGHLi8uC6D5JMIdJx35cigHaHL?pid=ImgDet&rs=1" />
      </div>

      <div class="_3fted" style="color: #fff;  margin-top: 2px;">Get Your Order Fast</div>
      <div class="_12i5X" style="color: #fff;">
        Get your food Ready fresh &amp; on
        time
      </div>
    </div>
  </div>
</div>
<br />

<footer style="
    background-color: rgb(17, 17, 17);
    bottom: 0;
    outline: none;
    text-align: center;
  ">
  <br /><br /><br />
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="custom">
          <h5>ADDRESS</h5>
          <h6>
            SHARAD INSTITUTE OF TECHNOLOGY<br />
            COLLEGE OF ENGINEERING
          </h6>
          <h6>
            Yadrav - Ichalkaranji - 416121 <br />
            Tal- Shirol, Dist.- Kolhapur, <br />
            Maharashtra, India.<br />
          </h6>
          <h6>EMAIL</h6>
          <a class="email" href="mailto:contact@sitcoe.org.in">
            contact@sitcoe.org.in</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="custom">
          <h6>CONTACT</h6>
          <ul>
            <li>
              <h6>TELEPHONE</h6>
              <a href="callto:2322253000/01">+91 (2322) 253000/01</a>
            </li>
            <li>
              <h6>TOLL FREE NO.</h6>
              <a href="callto:18002331419"> 1800-233-1419</a>
            </li>
            <li>
              <h6>FAX</h6>
              <a href="callto:912322252897">+91-2322-252897</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="custom">
          <h5>PROGRAMMES</h5>
          <ul>
            <li><a href="/index.php/about-us/about-sit">About Us</a></li>
            <li>
              <a href="/index.php/academics/academic-schedule">Academics</a>
            </li>
            <li>
              <a href="/index.php/computer-science/about-department">Departments</a>
            </li>
            <li>
              <a href="/index.php/campus-life/student-organization">Campus Life</a>
            </li>
            <li><a href="/index.php/placements/overview">Placements</a></li>
            <li>
              <a href="/index.php/alumni-registration?view=form">Alumini</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</footer>
<div style="bottom: 0%; background-color: black">
  <p class="center">
    copyright &copy; MiniProject-2 SY CSE A @harsh_bailurkar- All right reserved
  </p>
</div>

{% endblock %}