{% extends 'base.html' %} {% block title %} Your Wallet {%
    endblock %} {% block content %}
    
<div style="text-align: center; margin-top: 15%;">
    <H2 style="font-weight: bold; display: inline;background-color: black;">
        Sorry for your Inconvenience ! We are Woking On This.
    </H2>
    <br>
    <br>
    <h3 style="font-weight: 50; display: inline;background-color: black; margin: 10px;"> For now you can pay with online payments option <br> <br>
        <a class="btn btn-info" href="{{ url_for('Menu_page') }}"">Menu</a>
    </h3></div>
    {%endblock%}